/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

red text colour             rt               #F20500
mobile nav bg color         navbg            rgba(128,128,128,0.2)             
*/

@font-face {
    font-family: 'MANIFESTO';
    src: url('fonts/MANIFESTO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  NAVIGATION BAR
--------------------------------------------- */

/* responsive text queries */
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  } 
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
}

@media (min-width: 1200px) {
    .container{
        max-width: 990px; /*970*/
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: .95em;
}

::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(184, 184, 184, 0.5);
  box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

/* index */
.page-header {
  margin: 0px;
}

.shortBlurb {
    font-size: 22px;
}

/*projects */
.projectBlurb {
    text-align: justify;
    margin: 0 10px 30px 10px;
    font-size: 17px;
}

.grey {
    color:#606060;
    font-size: 16px;
}

/*about */
.me {
  width: 600px;
  display: block;
  margin: auto;
}

.meblurb {
  font-family: 'Lato';
  font-size: 18px;
  text-align: justify;
}

.content {
  font: 1em 'Lato', sans-serif;
  margin: 1em 2em 1em 2em;
  text-align: center;

/*  margin-left:200px;
  margin-right:200px;
  margin-bottom: 50px;*/
  transition: margin .3s ease-in-out;
}
.content > p {
  margin: .25em 0 .75em 0;
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  position: absolute;
 /* left: 0;*/
  display: none;
  /*width: 2em;*/
  font: 2em 'Josefin Sans', sans-serif;
  width: 100%;
/*  height: 2.25em;*/
  height: 2.8em;
  padding: .35em;
  padding-top: 0.7em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  font-size: 1.1em;
  color: #fff;
  transition: color .3s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
  background: #F20500; /*rt*/
}

/* big screens */
nav[role="off-canvas"] {
/*  position: relative;
  width: 50em;
  margin: 0 auto;*/
  text-align: center;
  transition-duration: .3s, .5s;
  transition-timing-function: ease-in-out;
  transition-property: left, opacity, box-shadow;
}
nav[role="off-canvas"] a {
  color: #282828;
  text-decoration: none;
  font: 1.15em 'Josefin Sans', sans-serif;
  transition: color .3s ease-in-out;
  display: table-cell;
  vertical-align: middle;
}
nav[role="off-canvas"] ul {
  display: inline-block;

  padding: 0;
/*  margin: 0 auto;
  width: 100%;*/
}
nav[role="off-canvas"] ul > li {
  float: left;
  padding: .55em .55em;
  width: 8em;
  height: 4em;
  margin: .5em;
  opacity: .8;
  text-transform: uppercase;
  display: table;
  /*background: rgba(247, 52, 8, 0.65);*/
  cursor: pointer;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color, opacity, padding-left;
  cursor: pointer;
}
nav[role="off-canvas"] ul > li:hover {
  color: #F20500;
  opacity: 1;
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.95);
}
nav[role="off-canvas"] ul > li:hover > a {
  color: #F20500;
}

/* small screens */
@media screen and (max-width: 44em) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }

  /* index */
  .page-header {
    margin: 0;
  }

  .shortBlurb {
    font-size: 14px; 
  }

  /* project */
  .projectBlurb {
    font-size: 14px;
  }

  .grey {
    color:#606060;
    font-size: 13px;
  }

  /*about */
  .me {
    width: 90%;
    display: block;
    margin-top: 20px;
  }

  .meblurb {
    font-size: 90%;
  }

  .content {
    margin: 2.5em 0em 0 0em;
  }

  nav[role="off-canvas"] {
    position: absolute;
    top: 3em;
    left: -20em;
    width: 20em;
    opacity: 0;
    background: rgba(128,128,128,0.2); /*navbg*/
  }
  nav[role="off-canvas"] ul > li {
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0;
  }
  nav[role="off-canvas"] ul > li:hover {
    box-shadow: inset 0 0 0 0.15em rgba(255, 255, 255, 0.45);
  }

  label {
    display: block;
  }

  label:after {
    position: absolute;
    right: .7em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }

  label:hover,
  input:checked ~ label {
    color: #fff;
  }

  input:checked ~ nav[role="off-canvas"] {
    opacity: 1;
    left: 0;
    box-shadow: -30em 0 0 30em rgba(128,128,128,0.2); /*navbg*/
  }
  input:checked ~ nav[role="off-canvas"] ul > li {
    padding: .55em .55em .55em 1.5em;
  }
  input:checked ~ nav[role="off-canvas"] ul > li:hover {
    padding-left: 3.5em;
  }
  input:checked ~ nav[role="off-canvas"] ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
    color: inherit;
  }

  input:checked ~ .content {
    margin-left: 20.5em;
    margin-right: -20.5em;
  }

  .centerlogo {
        display: none;
    }
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


.logo {
   /* width: 8%;*/
    width: 100px;
}

.centerlogo {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}


/* footer */
.contactLinks a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;

    transition-duration: .3s, .5s;
    transition-timing-function: ease-in-out;
}

.contactLinks a:hover {
    transition: color .3s ease-in-out;
    opacity: 0.9;
    background-color: #F20500;
}

.fa-2 {
    font-size: 1.5em;
}

.footer-basic-centered{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px 'Lato';

    padding: 45px;
  /*  margin-top: 380px;*/
}

.footer-basic-centered .footer-company-name{
    margin-top: 15px;
    color:  #8f9296;
    font-size: 14px;
}

footer{
    position: relative;
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }
}


/* Grid */
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
 /*   background: #787878; */  /* CHANGE img color */
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
   
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.grid figure .black {
    color: #000000;
}

.grid figure .white {
    color: #fff;
}

.grid .lastgrid {
  margin-bottom: 80px;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 1; /*CHANGED from 0.7 */
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);

   /* filter: gray; *//* IE6-9 */
  /*  filter: grayscale(1);*/ /* Microsoft Edge and Firefox 35+ */
 /*   -webkit-filter: grayscale(1);*/ /* Google Chrome, Safari 6+ & Opera 15+ */

}

figure.effect-lily figcaption {
    text-align: left;
}

figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-lily p {
    color: rgba(255,255,255,0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
    font-size: 16px;
}

figure.effect-lily:hover img{
    opacity: 0.5;  /* CHANGED FROM 1*/
    color: #ffdb58;

  /*  filter: none;
    -webkit-filter: grayscale(0);*/
}

figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    opacity: 0.9; 
    color: #F20500;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

@media screen and (max-width: 44em) {
.grid figure {
  width: 40em;
}

}