li.workselected a { color: #F20500; }

.link:visited {
    text-decoration: none;
}

h2 {
	color: #F20500;
}

.title {
    text-align: justify;
    margin: 30px 20px 0 24px;
}

.grey {
    color:#606060;
}

.greycolor {
    color:#606060;
}

.link {
    color: #F20500;
}

.link:hover {
    text-decoration: none;
    color:#606060;
}

.grubberyimages img {
    margin-top: 10px; 
    width: 250px;
    height:490px;
}

.logoname {
    padding-top: 100px;
}

.esimages img {
    margin-top: 10px; 
    height: 450px;
}

.gcubeimages img {
    margin-top: 10px; 
    height: 290px;
}

.gcubelogo img {
    width: 95%;
}

.red {
    color: #F20500;
}

.spotktvimages img {
    margin-top: 20px;
    width: 95%;
}
