li.aboutselected a {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
}

.link:link {
    color: #333;
    text-decoration: underline;
}

.link:visited {
    color: #333;
    text-decoration: underline;
}

.blurb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 200px;
}

.meImage {
  flex-basis: 40%;
  float: left;
}

img {
    width: 400px;
}

.meblurb {
    padding-left: 150px;
    float:right;
}

/* .me {
    width: 90%;
    display: block;
    margin-top: 20px;
  } */
