li.homeselected a {
    color: #F20500;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.bodytext {
    font-family: 'Lato';
}

.shortBlurb {
    text-align: center;
    margin: 30px auto 30px auto;
   /* width: 35em;*/
}

.hello {
    text-align: center;
 /*   margin-top: 30px;
    margin-left: auto;
    margin-right: auto;*/
    /*width: 30em;
   /* font-size: 30px;*/
}

/*.thumb {
    display: inline-block;
    width: 309px;
    height: 400px;
}

.thumb img {
    width: 100%;
}*/

.grid-item {
  float: left;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }


#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           10px;
   row-gap:              10px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.gallery-parent {
    max-width: 2000px;
    grid-auto-rows: minmax(350px, auto);
}

.masonry-with-columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px 0 50px;
}

.masonry-with-columns .thumbnail img {
/*    width: 100%;*/
    max-height: 450px;
    margin: 0 1rem 1rem 0;
    flex: 1 0 auto;

    display: block;
    object-fit: cover;
    flex-grow: 1;
}
